<div class="container">
        <div class="logo">PAESE</div>
        <input type="text" name="" id="submit" placeholder="Country name">
        <div class="loader" id="loader"></div>
        <div class="error" id="error"></div>
        <div id="info">
            <div>
                Country name: <span id="country"></span>
            </div>
            <div>
                Alternative name: <span id="altname"></span>
            </div>
            <div>
                Capital: <span id="capital"></span>
            </div>
            <div>
                Popultaion: <span id="population"></span>
            </div>
            <div>
                Continent: <span id="continent"></span>
            </div>
            <div>
                Area: <span id="area"></span>
            </div>
            <div>
                Language: <span id="lang"></span>
            </div>
            <div>
                Currency: <span id="currency"></span>
            </div>
        </div>
    </div>